<div class='text-center'>
  <h2>{{away_team}} at {{home_team}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <div
    class='btn btn-primary team-button'
    type='submit'
    data-team='true'
  >{{home_team}}</div>
  <div
    class='btn btn-primary team-button'
    type='submit'
    data-team='false'
  >{{away_team}}</div>
  <div><p id='bet-choice'>Pick a team to win!</p></div>
  <button
    type='button'
    class='btn btn-secondary'
    data-dismiss='modal'
    id='cancel-bet-button'
  >Cancel</button>
  <button
    type='button'
    class='btn btn-primary'
    id='save-bet-button'
  >Save</button>
</div>

<script src='/js/bet.js'></script>